<%#
ビューのテンプレートはERB(Embedded Ruby)という技術を使っている.
ERB =　HTML内に特殊なタグを埋め込むことでRubyのスクリ<%#
ビューのテンプレートはERB(Embedded Ruby)という技術を使っている.
ERB =　HTML内に特殊なタグを埋め込むことでRubyのスクリプトを動かすことができる。
ERBを使用してビューの中にロジック(処理)を記述することができるが、
本来MVCアーキテクチャにおいては「ロジックはコントローラー、表示はビューで行う」と切り分けがされているため、
ERBはビューでなければ処理できないものに対して使うのが好ましい。
コントローラーを使ってサーバー側でメソッドにて必要な処理を行い、アクセスしたクライアントへ処理結果を表示している。（静的)
またクライアントからサーバに何かを問い合わせ、その結果をサーバーからクライアントに返すという処理もできる(動的)

%>


<p>indexでERBのテストをしてみるよ☆</p>

<hr />

<!-- <%
#スクリプトを実行する特殊タグ内に実行する処理を記述
#このスクリプトはサーバー側で実行され、ブラウザには実行結果のみが表示される。
#Timeクラス(日時を扱う)のインスタンスを生成。nowメソッドは現在の日時を表すTimeインスタンスを返す。
time = Time.now
str = "現在の時刻は" + time.to_s + "だよ！！" #timeプロパティを文字列に変換
%> -->
<%#
値を表示する特殊タグ
ビューでのスクリプト処理は必ず実行部分と出力部分を分けて記述する
%>
<!-- ビューではコントローラークラスに用意されているインスタンス変数をそのまま利用できる -->
<p><%= @str %></p>

<!-- フォームを作成 -->
<!-- indexアクションにPOST送信する -->
<%= @msg%>

<form method="post" action="/sample/index">
    <input type="text" name="text1">
    <input type="submit">
</form>


<a href="https://idobata.io/#/organization/yochiyochirb/room/meetups">idobata入り口</a>





















