<!-- レイアウトテンプレート(mylayout)に組み込むビューテンプレート -->

<p>indexでERBのテストをしてみるよ☆</p>
<a href="https://idobata.io/#/organization/yochiyochirb/room/meetups">idobata入り口</a>
<hr />
<form method="post" action="/sample/index">
    <table>
        <tr>
            <th>NAME:</th>
            <td><input type="text" name="name" placeholder="name"></td>
        </tr>
        <tr>
            <th>AGE:</th>
            <td><input type-"text" name="age" placeholder="age"></td>
        </tr>
        <tr>
            <th>MAIL:</th>
            <td><input type="text" name="mail" placeholder="E-mail"></td>
        </tr>
        <tr>
            <th>TEL:</th>
            <td><input type="text" name="tel" placeholder="tel"></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="登録" class="submit"></td>
        </tr>
   
        </table><form>
<hr>
<p>データベースに保存してある全レコード</p>
<!-- @datasに保存した全レコードを表示する処理 -->
<table>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Mail</th>
    <th>Tel</th>
    <th>Deletion</th>
    <th>Update</th>
</tr>
<%= render :partial => "partials/mydata", :collection => @datas %>
</table>

<a href="/sample/find">レコードを検索</a>
<a href="/sample/toppage">トップページ</a>

<!-- <%
#スクリプトを実行する特殊タグ内に実行する処理を記述
#このスクリプトはサーバー側で実行され、ブラウザには実行結果のみが表示される。
#Timeクラス(日時を扱う)のインスタンスを生成。nowメソッドは現在の日時を表すTimeインスタンスを返す。
time = Time.now
str = "現在の時刻は" + time.to_s + "だよ！！" #timeプロパティを文字列に変換
%> -->









