<body>
<div class="boxA">
    <div class="box1">
        <div class="site">
            <h1><a href="#">TimeSwitch</a></h1>
        </div>
    </div>
    <div class="box2">
        <!-- ナビゲーション -->
        <nav class="menu">
            <ul>
            <li><a href="/sample/index">トップ</a></li>
            <li><a href="#">沿革</a></li>
            <li><a href="#">事業紹介</a></li>
            <li><a href="#">お問い合わせ</a></li>
        </ul>
        </nav>
    </div>
</div>

<!-- ヘッダー画像 -->
<div class="box3">
    <img src="/assets/chino3.jpg" class="topimg">
</div>

<!-- お知らせ -->
<div class="box4">
   <div class="news">
   <h1>お知らせ</h1>
   <ul>
       <li><a href="#">
           <time datetime="2014-10-05">10/15</time>
           データセンターのメンテナンスを行います。
       </a><li>
       <li><a href="#">
           <time datetime="2014-10-05">10/15</time>
           Andoroid版アプリ　バージョン１をリリースしました。
       </a></li>
       <li><a href="#">
           <time datetime="2014-10-05">10/15</time>
           セミナー開催に伴うキャンペーンのお知らせ。
       </a></li>
       <li><a href="#">
           <time datetime="2014-10-05">10/15</time>
           グラフ表示の切り替え方法がわかりやすくなりました。
       </a></li>
   </ul>
   </div>
</div>

<div class="box5">
    <!-- BOX5 -->
</div>
</body>
