h1 {
    background-color: #aaaaff;
    /*内側の余白*/
    padding: 5px; 
    /*外側の余白(上、右、下、左)*/
    margin: 0px 0px 25px 0px;
    font-size: 30pt;
}

p {
    font-size: 18pt;
    color: #000066;
}

p.footer{
    /*行揃えは右寄せ*/
    text-align: right;
    font-size: 9pt;
    color: #6666aa;
}
#テーブル用のスタイルシートを用意
table tr th {
    background-color: #333399;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}

table tr td {
    background-color: #dddddd;
    color: #000066;
    padding: 5px;
    margin: 5px;
}